@import "../utils/variables.scss";

.nav {
    display: flex;
    gap: 24px; 
    margin: 0;
    padding: 0;
  
    @media (max-width: 767px) {
      display: none;
    }
  }
  
  .nav_link {
    color: #333333;
    text-decoration: none;
    font-size: 16px; 
    transition: color 0.3s;
  
    &:hover {
      color: #007bff;
    }
  }

  // 🌙 Modo oscuro
.dark {
    .nav {
      background-color: #333333; 
      .nav_link {
        color: $bg-light; 
      }
      .nav_link:hover {
        color: $primary-color; 
      }
    }
  }
  
  // 📱 Menú Móvil (Se muestra cuando se abre)
  .nav--open {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: $bg-light;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0; 
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
    @media (min-width: 768px) {
      display: flex !important; 
      flex-direction: row;
      position: static;
      background: transparent;
      box-shadow: none;
    }
  }
  
  