@import "../utils/variables.scss";

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: $bg-light;
    width: 100%;

    &--light {
        background-color: $bg-light;
        color: $text-light;
    }

    &--dark {
        background-color: $bg-dark;
        color: $text-dark;
    }

    &_content {
        display: flex;
        flex-direction: row;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;

    }

    &_title {
        font-family: $secondary-font;
        font-size: 24px;
        margin-bottom: 16px;
        font-weight: bold;
    }

    &_text {
        font-family: $secondary-font;
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
    }

    @media (max-width: 768px) {
        padding: 20px;

        &_content {
            flex-direction: column; 
            gap: 20px;  
        }

        &_title {
            font-size: 20px;
        }

        &_text {
            font-size: 14px;
        }
    }
}