@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

$font-family: 'Bree Serif', serif;
$secondary-font: 'Gentium', serif;

$bg-light: #638C6D;
$bg-dark: #1a1a1a;
$text-light: #E7FBB4;
$text-dark: #E7FBB4;

$primary-color:#DF6D2D; 
$secondary-color: #638C6D;
$tertiary-color: #C84C05;
$white: #E7FBB4;
